<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <title>Mamphi - Studie Verwaltung</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
</head>

<body>
    <header>
       <h1>Willkommen auf der Webanwendung zur Mamphi-Studie Verwaltung!</h1>
    </header>
    <main>
        <p>Vielen Dank für die Nutzung der App. Sie sind derzeit nicht angemeldet.</p>
        <p><a href ='/login'> Zur Anmeldung klicken Sie bitte hier</a></p>
    </main>
    <hr/>
    <footer>
        <p>Studienmanagement und Software, Sommersemester 2019</p>
        <p>&copy; 2019-2020 FHDO Master MI Software zur Verwaltung der Mamphi-Studie.</p>
        <p>Developed and maintained by Beauclair Ngnintedem D.</p>
    </footer>
</body>

</html>