<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Mamphi - Studie Verwaltung</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='stylesheets/style.css')}}">
</head>

<body>
    <header>
        <h1>Hallo {{name.upper()}}</h1>
        <button id="description-btn">Beschreibung</button>
        <button id="center-list-btn">Zentrumliste</button>
        <button id="consent-list-btn">Patienteneinwillungen</button>
        <button id="rand-w1-btn">Randomisierung 1</button>
        <button id="rand-w2-btn">Randomisierung 2</button>
        <button id="monitoring-btn">Monitoringsplan</button>
        <a href="{{ url_for('auth.logout') }}" class="navbar-item">Auslogen</a>
    </header>
    <main>
        <div id="app"></div>
        <script src="{{ url_for('static', filename='scripts/center.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/consent.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/description.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/rand.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/rand2.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/monitoring.js') }}"></script>
    </main>
    <hr/>
    <footer>
        <p>Studienmanagement und Software, Sommersemester 2019</p>
        <p>&copy; 2019-2020 FHDO Master MI Software zur Verwaltung der Mamphi-Studie.</p>
        <p>Developed and maintained by Beauclair Ngnintedem D.</p>
    </footer>
</body>

</html>