<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Mamphi - Studie Verwaltung</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='stylesheets/style.css')}}">
</head>

<body>
    <header>
        <h1>Hallo {{name.upper()}}</h1>
        <div>
            <div class="navbar">
                <a href="#" class="navbar-brand" id="description-btn">Beschreibung</a>
                <a href="#" class="navbar-item" id="center-list-btn">Zentrumliste</a>
                <a href="#" class="navbar-item" id="consent-list-btn">Patienteneinwilligungen</a>
                <a href="#" class="navbar-item" id="rand-w1-btn">Randomisierungswoche 1</a>
                <a href="#" class="navbar-item" id="rand-w2-btn">Randomisierungswoche 2</a>
                <a href="#" class="navbar-item" id="monitoring-btn">Monitoringsplan</a>
                <a href="{{ url_for('logout') }}" class="navbar-item">Auslogen</a>
            </div>
        </div>
    </header>
    <main>
        <div id="app">
            <section>
                <h1>Beschreibung der Studie</h1>
                <div>
                    <div>
                        <h2>Design</h2>
                        <ul>
                            <li>Doppelblind</li>
                            <li>Randomisiert</li>
                            <li>Parallelgruppen: Mamphi gegen Placebo</li>
                        </ul>
                    </div>
                    <div>
                        <h2>Indikationen</h2>
                        <p>Chronische Kopfschmerzen</p>
                    </div>
                    <div>
                        <h2>Studienzentren</h2>
                        <ul>
                            <li>Deutschland</li>
                            <li>Gro&#xDF;britanien</li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <script src="{{ url_for('static', filename='scripts/center.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/consent.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/description.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/rand.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/rand2.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/monitoring.js') }}"></script>
    </main>
    <hr/>
    <footer>
        <p>Studienmanagement und Software, Sommersemester 2019</p>
        <p>&copy; 2019-2020 FHDO Master MI Software zur Verwaltung der Mamphi-Studie.</p>
        <p>Developed and maintained by Beauclair Ngnintedem D.</p>
    </footer>
</body>

</html>