{% extends 'layout.html' %} {% block title %} Mamphi-Studie Verwaltung {% endblock %} {% block content %}
<main>
    <section>
        <div>
            <h2>Liste der Zentren</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Land</th>
                        <th>Ort</th>
                        <th>Pr&#xFC;fer</th>
                        <th>Monitor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for zentrum in zentren %}
                    <tr>
                        <td>{{ zentrum['Zentrum_Id'] }}</td>
                        {% if zentrum['Land'] == 'D' %}
                        <td>Deutschland</td>
                        {% else %}
                        <td>Gro&#xDF;britanien</td>
                        {% endif %}
                        <td>{{ zentrum['Ort'] }}</td>
                        <td>{{ zentrum['Pruefer'] }}</td>
                        <td>{{ zentrum['Monitor'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

    </section>
</main>
{% endblock content %}