{% extends 'layout.html' %} {% block title %} Mamphi-Studie {% endblock %} {% block content %}
<main id="informed_consent">
    <section>
        <div>
            <h2>Liste der Patienten Einwilligungen</h2>
            <div>
                <p>
                    <label>Einwillungen:</label>
                    <select id="selected-option">
                        {% for option in options %}
                        <option value="{{ option['value'] }}">{{option['text']}}</option>
                        {% endfor %}
                    </select>
                    <!-- TODO display the consent table based on the user selection-->
                    <button id="list-show-btn">Anzeigen</button>
                </p>
            </div>
            <table id="consent-table">
                <thead>
                    <tr>
                        <th>Patienten_ID</th>
                        <th>Zentrum</th>
                        <th>Einwillung erteilt</th>
                        <th>Datum der Einwilligung</th>
                    </tr>
                </thead>
                <tbody>
                    {% for consent in consents %}
                    <tr>
                        <td>{{ consent['Patient_Id'] }}</td>
                        <td>{{ consent['Zentrum'] }}</td>
                        {% if consent['Einwilligung'] == 'nan' %}
                        <td></td>
                        {% else %}
                        <td>{{ consent['Einwilligung'].upper() }}</td>
                        {% endif %} {% if consent['Datum'] == 'NaT' %}
                        <td></td>
                        {% else %}
                        <td>{{ consent['Datum'] }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

        <div>
            <h2>Liste von Patienten, bei denen die Einwillung unvollständig ist</h2>
            <table id="incomplete_consent_table">
                <thead>
                    <tr>
                        <th>Patienten_ID</th>
                        <th>Zentrum</th>
                        <th>Einwillung erteilt</th>
                        <th>Datum der Einwilligung</th>
                    </tr>
                </thead>
                <tbody>
                    {% for consent in incomplete_consents %}
                    <tr>
                        <td>{{ consent['Patient_Id'] }}</td>
                        <td>{{ consent['Zentrum'] }}</td>
                        <td>{{ consent['Einwilligung'].upper() }}</td>
                        <td>{{ consent['Datum'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

        <div>
            <h2>Liste von Patienten bei denen die Einwillung fehlt</h2>
            <table id="missing_consent_table">
                <thead>
                    <tr>
                        <th>Patienten_ID</th>
                        <th>Zentrum</th>
                        <th>Einwillung erteilt</th>
                        <th>Datum der Einwilligung</th>
                    </tr>
                </thead>
                <tbody>
                    {% for consent in missing_consents %}
                    <tr>
                        <td>{{ consent['Patient_Id'] }}</td>
                        <td>{{ consent['Zentrum'] }}</td>
                        <td>{{ consent['Einwilligung'].upper() }}</td>
                        <td>{{ consent['Datum'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

        <div>
            <h2>Liste von Patienten bei denen die Einwilligung nach der Randomisierung kommt.</h2>
            <table id="consent_after_randomization_table">
                <thead>
                    <tr>
                        <th>Patienten_ID</th>
                        <th>Zentrum</th>
                        <th>Einwillung erteilt</th>
                        <th>Datum der Einwilligung</th>
                    </tr>
                </thead>
                <tbody>
                    {% for consent in consents_after_randomization %}
                    <tr>
                        <td>{{ consent['Patient_Id'] }}</td>
                        <td>{{ consent['Zentrum'] }}</td>
                        <td>{{ consent['Einwilligung'].upper() }}</td>
                        <td>{{ consent['Datum'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</main>
{% endblock content %}