{% extends 'layout.html' %} {% block title %} Mamphi-Studie Verwaltung {% endblock %} {% block content %}
<main>
    <section>
        <div>
            <h2>Monitoring-Plan</h2>
            <div>
                <p>Nachfolgend ist die Planung, wann welcher Monitor welches Zentrum besuchen soll</p>
                <table>
                    <thead>
                        <tr>
                            <th>Zentrum</th>
                            <th>Land</th>
                            <th>Ort</th>
                            <th>Pr&#xFC;fer</th>
                            <th>Monitor</th>
                            <th>Anzahl Patienten</th>
                            <th colspan="5">Monitorbesuche</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in monitoringplan %}
                        <tr>
                            <td>{{ item['Zentrum_Id'] }}</td>
                            <td>{{ "Deutschland" if item['Land'] == "D" else "Großbritanien" }}</td>
                            <td>{{ item['Ort'] }}</td>
                            <td>{{ item['Pruefer'] }}</td>
                            <td>{{ item['Monitor'] }}</td>
                            <td>{{ item['NP'] }}</td>
                            {% for date in item['Monitor_Visite']%}
                            <td>{{ date if date !=None else "Kein Termin" }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>
{% endblock content %}